---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BookReview } from "../../lib/contentful";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BookReview>({
    content_type: "bookReview",
  });

  const pages = entries.items.map((item) => {
    const { title, body, publishDate, slug, author, bookImage } = item.fields;
    return {
      params: { slug: item.fields.slug },
      props: {
        title,
        body: documentToHtmlString(body),
        date: publishDate
          ? new Date(publishDate).toLocaleDateString("en-AU")
          : undefined,
        slug,
        author: {
          name: `${author.fields.firstName} ${author.fields.lastName}`,
          image: author.fields.photo.fields.file.url as unknown as string,
        },
        bookImage,
      },
    };
  });
  return pages;
}

const { body, title, date, author } = Astro.props;
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <span><h2>{author.name}</h2><small><time>{date}</time></small></span>
    <img src={author.image} />
    <article set:html={body} />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 20rem;
  }
</style>
